/data
/processed_geojson_data
visualization/result/test.html
visualization/result/test2.html
visualization/result/test3.html
visualization/result/test4.html
visualization/archive
sidewalk.geojson
visualization/trash_bins_map_with_unified_boundary.html
/basic-stats
seoul_trash_bins_scored.html
data_for_publish/legacy/rc_trash_bins.geojson
/meaningful_data
/meaningful_data/!looking_for_meaningful_basic_data