data/13.서울시_법정경계(시군구).geojson
data/24.서울시_도로명주소(도로).geojson
data/2024_서울시_쓰레기통_좌표.csv
data/도로명주소 (1).csv
data/생활이동 데이터(250m).csv
data/서울시 버스정류소 위치정보.csv
data/서울시_법정경계.csv
data/서울시_학교_좌표.csv
data/인도3.csv
data/인도4.csv
data/주차장 좌표.csv
data/체육시설 좌표.csv

processed_geojson_data/bus_stops.geojson
processed_geojson_data/legal_boundary.geojson
processed_geojson_data/parking_lot.geojson
processed_geojson_data/road.geojson
processed_geojson_data/school.geojson
processed_geojson_data/sidewalk.geojson
processed_geojson_data/sports_facility.geojson
processed_geojson_data/trash_bin_2024.geojson
